@charset "utf-8";

/*yahoo reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
.fieldset,img{border:0;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
q:before,q:after{content:'';}
/*yahoo reset */



/*--- GLOBALS ---*/

body{
	background: #ecf4f7 url(imgs/bg.gif) top left repeat-x;
	font-family: "Lucida Sans", "Trebuchet MS", sans-serif;
	font-size: 14px;
	color: #343434;
}

blockquote {
	padding: 5px 10px 5px 10px;
	border: #dfdfdf solid 1px;
	background: #d2f7b7;
}

p {
	padding-top: 8px;
	padding-bottom: 8px;
}

.post {
margin-top: 5px;
margin-bottom: 5px;
}

/*--- HEADER ---*/

#header {
	width: 100%;
	float:left;
	background: url(imgs/header_bg.gif) top left repeat-x;
}

#inner-header {
	width: 100%;
	margin-right: 10px;
	float:left;
	padding-top:  30px;

	background: url(imgs/down_right_rounded.gif) bottom right no-repeat;
}

#inner-inner-header {
	width: 100%;
	margin-right: 10px;
	float:left;
	background: url(imgs/down_left_rounded.gif) bottom left no-repeat;
}

#header h1 {
	float: left;
	width: 221px;
    margin-left: 20px;
	height: 49px;
	padding: 0;
	padding-bottom: 25px;
	background: url(imgs/logo.gif) no-repeat 0 0;
}
	
#header h1 a {
	float: left;
	display: block;
	width: 221px;
	height: 49px;
	border-width: 0;
	}
#header h1 a span {
	position: absolute;
	top: -10000px;
	}

.xright
{
float: right; padding: 45px 45px 0 0; color: #999999;
}
.xright a.externalLink,
.xright a.externalLink:link,
.xright a.externalLink:visited,
.xright a.externalLink:active,
.xright a.externalLink:hover
	{
	background: transparent url(imgs/external.png) no-repeat scroll right center;
	padding-right: 18px;
	padding-left: 4px;
	margin-right: 6px;
	font-size: 13px;
	color: white;
	text-decoration: none;
}


	/*--- FOOTER ---*/
#footer {
	clear:both;
	max-width: 1115px;
	min-width: 760px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 15px;
	font-size: 95%;
	text-align: left;
}
#inner-footer {
	background: #00586e;
}
#footer p {
	padding-left: 20px;
	color: #589eb0;
	font-size: 11px;
}

/*--- WRAPPERS ---*/

#wrapper {
	max-width: 1115px;
	min-width: 760px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 95%;
	text-align: left;
}



/* Front Page fix css layout*/

#content-wrapper {
	position: relative;
	clear:both;
	float:left;
	background: url(imgs/nav_bg.gif) #fff top left no-repeat;
	width: 98%;
	overflow:hidden;		/* This chops off any overhanging divs */
	left: 10px;
}

    #container{
        float:left;
        width:200%;
        margin-left:-275px; 	/* Width of right column */
        position:relative;
        right:100%;
        background: ;    	/* Centre column background colour */
    }
	
    #colleft {
       float:left;
        width:100%;
        margin-left:-50%;
        position:relative;
        left:503px;         	/* Left column width + right column width */
        background:#FFD8B7;    	/* Left column background colour */
		background:url(imgs/nav_bg.gif) no-repeat;
    }
    
	.col1wrap {
        float:left;
	    width:50%;
	    position:relative;
	    right:228px;        	/* Width of left column */
	    padding-bottom:1em; 	/* Centre column bottom padding. Leave it out if it's zero */
	}
	 #content {
        margin:0 345px 0 250px;     	/* Centre column side padding:
                            	Left padding = left column width + centre column left padding width
                            	Right padding = right column width + centre column right padding width */
        position:relative;
	    left:200%;
	    overflow:hidden;
		padding-top:13px;
	}
     #navigation {
        float:left;
        float:right;			/* This overrides the float:left above */
        width:228px;        	/* Width of left column content (left column width minus left and right padding) */
        position:relative;
        right:0;         	/* Width of the left-had side padding on the left column */
    }
	
     #sidebar {
        float:left;
        float:right;			/* This overrides the float:left above */
        width:315px;        	/* Width of right column content (right column width minus left and right padding) */
        margin-right:30px;  	/* Width of right column right-hand padding + left column left and right padding */
        position:relative;
        left:50%;
    }
	
	
	/*--- NAVIGATION ---*/

#navigation h2{
	color: #15708e;
	text-transform: uppercase;
	font-size: 12px;
	padding: 15px 0 0 20px;
}

#navigation h2 a:link {
	text-decoration: none;
	border-bottom: #dcdcdc solid 1px;
	color: #0b6fae;
}

#navigation ul {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 225px;
	font-weight: bold;
	border-bottom: 1px solid #dcdcdc;
}

#navigation ul ul {
	margin-top:  0;
	margin-bottom: 0;
	background: transparent;
	width: 226px;
	padding-left: 20px;
	border-bottom: none;
}

#navigation ul li {
	display:block;
	width: 226px;
	border-top: 1px solid #dcdcdc;
	padding-top: 5px;
	padding-bottom: 6px;
}

#navigation ul ul li.page_item {
	display:block;
	width: 225px;
	border-top: 0px solid #dcdcdc;
	padding-top: 4px;
	padding-bottom: 4px;
}

#navigation li.feed {
	display:block;
	border-top: 0px solid #dcdcdc;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 5px;
	width: 205px;
}

/*
div#navigation li.feed_item {
	background: #f7f7df;
}
*/

#navigation div.entry-date {
	font-size: 11px;
	font-weight: normal;
	line-height: 1;
	color: #333333;
}

#navigation li.feed h3 a,
#navigation li.feed h3 a:link,
#navigation li.feed h3 a:visited,
#navigation li.feed h3 a:hover {
	padding-left: 0;
	font-size: 12px;
	font-weight: normal;
	color: #0B6FAE;
}

#navigation li.feed h3 a:hover {
	font-decoration: underline;
}

#navigation li a:link{
	font-size: 13px;
	padding-left: 20px;
	text-decoration: none;
	color: #585858;
}

#navigation li a:visited{
	font-size: 13px;
	text-decoration: none;
	color: #585858;
	padding-left: 20px;
}

#navigation li a:hover{
	font-size: 13px;
	color: #0b6fae;
	padding-left: 20px;
}

#navigation li.current_page_item a:link {
color: #0b6fae !important;
}


#logos {
margin-left: 20px;
}

#logos h2 {
	margin: 1.5em 0 0.75em -20px;
}

/*--- CONTENT ---*/
#content ul, #sidebar ul {
	list-style: disc;
	padding-left: 30px;
}
#content ul li, #sidebar ul li {
	margin-top: 10px;
	margin-bottom: 10px;
}
#content h2, #sidebar h2 {
	color: #15708e;
	font-size: 14px;
	text-transform: uppercase;
}
#content a.image img, #sidebar a.image img {
	border: solid 1px #eaeaea;
}
#content a.image:link, #content a.image:visited, #content a.image:hover, #sidebar a.image:link, #sidebar a.image:visited, #sidebar a.image:hover {
	text-decoration: none;
	border-bottom: none;
}

#content a:link, #sidebar a:link {
	text-decoration: none;
	border-bottom: #dcdcdc solid 1px;
	color: #0b6fae;
}

#content a:visited, #sidebar a:visited {
	text-decoration: none;
	border-bottom: #dcdcdc solid 1px;
	color: #0b6fae;
}

#content a:hover, #sidebar a:hover {
	color: #0b6fae;
	text-decoration: none;
	border-bottom: #0b6fae solid 1px;
}

/* Three Columns and basic */

.feeds-page div#content {
	min-height:1100px;
}

.feeds-page div#content #rss-container {
clear: left;
}

.feeds-page div#content .rss-three-columns {
	padding: 24px 0 0 0;
	
}

.feeds-page div#navigation {
	float:none;
	position:absolute;
	width:231px;
}

.feeds-page div#content #rss-container .header H3{
	margin-top: 4px;
	float:left;
}

.feeds-page div#content #rss-container .header H3 a{
	color:#585858;
	font-size:13px;
	text-decoration: none;
	border:none;
}

.feeds-page div#content #rss-container .header H3 a:hover{
	color:#0b6fae;
}

.feeds-page div#content #rss-container .header .rss-icon{
	width:20px;
	height:20px;
	text-indent:-99999px;
	background: url(images/rss-cube.png) no-repeat;
	display:block;
	float:right;
	margin-bottom: 10px;
	border: none;
}

.feeds-page div#content #rss-container .header .rss-icon:hover{
	background: url(images/rss-cube.png) no-repeat -20px 0;
}


.feeds-page .clear-right {
	clear:right;
}

.feeds-page .clear-left {
	clear:left;
}






.feeds-page div#content .rss-first-column {
	width: 31%;
	float:left;
	margin:0;
	padding:0 3% 24px 0;
}

.feeds-page div#content .rss-last-column {
	width: 31%;
	float:left;
	margin:0;
	padding:0 0 24px 0;
}

.feeds-page div#content .feedburnerFeedBlock li {
	border-top:solid 1px #eaeaea;
	list-style:none;
	margin:0;
	padding:3% 0 3% 0;
}

.feeds-page div#content .feedburnerFeedBlock li a {
	text-decoration:none;
	border:none;
}

.feeds-page div#content .feedburnerFeedBlock li a:hover {
	text-decoration: underline;
}

.feeds-page div#content .feedburnerFeedBlock .date {
	margin:0;
	padding:2px 0 0 0;
	font: italic 12px/14px Arial, Helvetica, sans-serif;
	
}

.feeds-page div#content .feedburnerFeedBlock ul {
	margin:0;
	padding:0;
}

.feeds-page div#content #creditfooter {
	display: none;
}



.feeds-page div#content .feedItemAuthor {
	font: 13px/14px Arial, Helvetica, sans-serif;
	margin:0;
	padding:2px 0 0 0;
}






/* Two Columns */
/*
.feeds-page div#content .rss-two-columns {
	padding: 24px 0 0 0;
	clear:both;
}

.feeds-page div#content .rss-halfa-column {
	
}

.feeds-page div#content .rss-halfa-column {
	max-width: 47%;
	float:left;
	margin:0;
	padding:0 6% 0 0;
}

.feeds-page div#content .rss-halfb-column {
	max-width: 47%;
	float:left;
	margin:0;
	padding:0 0 0 0;
}
*/
/* One Column */
/*.feeds-page div#content .rss-one-column {
	padding: 24px 0 0 0;
	clear:both;
	max-width: 62%;
}
*/

/* Front Page */


.feeds-main-page #sidebar .rss-first-column {
	width: 270px;
	float:right;
	margin:0;
	padding:0 12px 24px 0;
}

.feeds-main-page #sidebar .rss-first-column .header H3{
	margin-top: 4px;
	float:left;
}

.feeds-main-page #sidebar .rss-first-column .header H3 a{
	color:#585858;
	font-size:13px;
	text-decoration: none;
	border:none;
}

.feeds-main-page #sidebar .rss-first-column .header H3 a:hover{
	color:#0b6fae;
}

.feeds-main-page #sidebar .rss-first-column .header .rss-icon{
	width:20px;
	height:20px;
	text-indent:-99999px;
	background: url(images/rss-cube.png) no-repeat;
	display:block;
	float:right;
	margin-bottom: 10px;
	border: none;
}

.feeds-main-page #sidebar .rss-first-column .header .rss-icon:hover{
	background: url(images/rss-cube.png) no-repeat -20px 0;
}

.feeds-main-page #sidebar .rss-first-column .feedburnerFeedBlock li {
	border-top:solid 1px #eaeaea;
	list-style:none;
	margin:0;
	padding:3% 0 3% 0;
}

.feeds-main-page #sidebar .rss-first-column .feedburnerFeedBlock li a {
	text-decoration:none;
	border:none;
}

.feeds-main-page #sidebar .rss-first-column .feedburnerFeedBlock li a:hover {
	text-decoration: underline;
}

.feeds-main-page #sidebar .rss-first-column .feedburnerFeedBlock .date {
	margin:0;
	padding:2px 0 0 0;
	font: italic 12px/14px Arial, Helvetica, sans-serif;
	
}

.feeds-main-page #sidebar .rss-first-column .feedburnerFeedBlock ul {
	margin:0;
	padding:0;
}

.feeds-main-page #sidebar .rss-first-column #creditfooter {
	display: none;
}

.feeds-main-page #sidebar .rss-first-column .feedItemAuthor {
	font: 13px/14px Arial, Helvetica, sans-serif;
	margin:0;
	padding:2px 0 0 0;
}
