<h2>Overview of Neo4j.rb 1.0.0.beta.16</h2>

Neo4j.rb is a graph database for JRuby
It uses the powerful and mature Java libraries
<li><a href="http://www.neo4j.org">Neo4j</a> for for persistence and traversal of the graph</li>
<li><a href="http://lucene.apache.org/java/docs/index.html">Apache Lucene</a> for querying and indexing.</li>

Notice this is a beta so you need to install it with: gem install neo4j --pre


<h2>Examples</h2>

Here are some examples of what you can do:
<li><a href="http://github.com/andreasronge/neo4j/blob/1.0/example/rules/newsstory.rb">Rules</a></li>
<li><a href="http://github.com/andreasronge/neo4j-rails-example">Rails 3 Example</a></li>

<h2>Content</h2>

* "Why a Graph Database":Why-a-Graph-Database.html
* "Installation":Installation.html
* "Basic - Nodes, Properties & Relationships":Basic.html
* "Ruby Class to Node & Relationship Mapping":Mapping.html
* [[Rails 3|Rails-3]]
* [[Indexing and Queries with Lucene|Lucene]]
