<h2>Overview of Neo4j.rb 1.0.0.beta.23</h2>

Neo4j.rb is a graph database for JRuby
It uses the powerful and mature Java libraries:

<li><a href="http://www.neo4j.org">Neo4j</a> for for persistence and traversal of the graph</li>
<li><a href="http://lucene.apache.org/java/docs/index.html">Apache Lucene</a> for querying and indexing.</li>


<h2>Guides</h2>

<li><a href="why_graph_db.html">Why using a Graph Database or Neo4j.rb ?</a></li>
<li><a href="basic.html">Nodes, Properties & Relationships</a></li>
<li><a href="rules_and_functions.html">Rules and Functions</a></li>
<li><a href="mapping.html">Ruby Class to Node & Relationship Mapping</a></li>
<li><a href="rails3.html">Ruby on Rails</a></li>
<li><a href="lucene.html">Indexing and Queries with Lucene</a></li>

<h2>Documentation and APIs</h2>

<li><a href="http://neo4j.rubyforge.org/">RDoc API</a></li>
<li><a href="http://api.neo4j.org/current/">JavaDoc</a></li>
<li><a href="http://docs.neo4j.org/html/snapshot/">The Neo4j Manual</a></li>


<h2>Installation</h2>
Notice this is a beta so you need to install it with: <code>gem install neo4j --pre</code>

<h2>Examples</h2>

Here are some examples of what you can do:
<li><a href="http://github.com/andreasronge/neo4j/tree/master/example/rules/">Rules</a></li>
<li><a href="https://github.com/andreasronge/devise_example">Rails 3 and Devise Example</a></li>
<li><a href="https://github.com/andreasronge/neo4j-perf">Performance Tests of Neo4j.java vs. Neo4j.rb</a></li>


<h2>Found a bug in this guide ?</h2>
Please fork the project <a href="https://github.com/andreasronge/neo4j-guides">neo4j-guides</a>
