<h2>Overview of Neo4j.rb 1.0.0.beta.19</h2>

Neo4j.rb is a graph database for JRuby
It uses the powerful and mature Java libraries
<li><a href="http://www.neo4j.org">Neo4j</a> for for persistence and traversal of the graph</li>
<li><a href="http://lucene.apache.org/java/docs/index.html">Apache Lucene</a> for querying and indexing.</li>

Notice this is a beta so you need to install it with: gem install neo4j --pre


<h2>Content</h2>

<li><a href="why_graph_db.html">Why using a Graph Database/Neo4j.rb ?</a></li>
<li><a href="installation.html">Installation</a></li>
<li><a href="basic.html">Basic - Nodes, Properties & Relationships
<li><a href="mapping.html">Ruby Class to Node & Relationship Mapping</a></li>
<li><a href="rails3.html">Ruby on Rails</a></li>
<li><a href="lucene.html">Indexing and Queries with Lucene</a></li>

<h2>Examples</h2>

Here are some examples of what you can do:
<li><a href="http://github.com/andreasronge/neo4j/blob/1.0/example/rules/newsstory.rb">Rules</a></li>
<li><a href="http://github.com/andreasronge/neo4j-rails-example">Rails 3 Example</a></li>

