<h2>Overview of Neo4j.rb 1.0.0.beta.28</h2>

Neo4j.rb is a graph database for JRuby
It uses the powerful and mature Java libraries:

<li><a href="http://www.neo4j.org">Neo4j</a> for for persistence and traversal of the graph</li>
<li><a href="http://lucene.apache.org/java/docs/index.html">Apache Lucene</a> for querying and indexing.</li>

<h4>Not using JRuby, using C Ruby ?</h4>

Check the <a href="http://wiki.neo4j.org/content/Using_the_Neo4j_Server_with_Ruby">REST API</a>. Either use the neography gem or simply use the rest-client gem.
<br/>
Notice that JRuby is a very good runtime to run Ruby/Rails application on:
<a href="http://www.infoq.com/interviews/Yehuda-Katz-on-Rails-3.x">"Today, jruby is the best ruby implementation" - Yehuda Katz</a>

<h2>Guides</h2>

<li><a href="why_graph_db.html">Why using a Graph Database or Neo4j.rb ?</a></li>
<li><a href="basic.html">Nodes, Properties & Relationships</a></li>
<li><a href="traverser.html">Traversing Node and Relationships</a></li>
<li><a href="algo.html">Included algorithms like shortest path</a></li>
<li><a href="rules_and_functions.html">Rules and Functions</a></li>
<li><a href="mapping.html">Ruby Class to Node & Relationship Mapping</a></li>
<li><a href="rails3.html">Ruby on Rails</a></li>
<li><a href="lucene.html">Indexing and Queries with Lucene</a></li>
<li><a href="migrations.html">Migrations</a></li>
<li><a href="batch_insert.html">Batch Insert</a></li>
<li><a href="configuration.html">Configuration & Backup</a></li>
<li><a href="monitoring.html">Monitoring and Remote Access</a></li>
<li><a href="ha_cluster.html">HA Cluster</a></li>


<h2>Documentation and APIs</h2>

<li><a href="http://neo4j.rubyforge.org/">RDoc API</a></li>
<li><a href="http://docs.neo4j.org/">The Neo4j Manual</a></li>
<li><a href="http://www.slideshare.net/andreasronge/neo4jrb">An Neo4j.rb presentation (using Neo4j.rb version 0.4.6)</a></li>

<h2>Installation</h2>
Notice this is a beta so you need to install it with: <code>gem install neo4j --pre</code><br/>
To install JRuby I recommend using <a href="http://rvm.beginrescueend.com/">RVM</a>.

<h2>Examples</h2>

Here are some examples of what you can do:
<li><a href="http://github.com/andreasronge/neo4j/tree/master/example/">Basic Examples</a></li>
<li><a href="http://github.com/andreasronge/devise_example">Rails 3 and Devise Example</a></li>
<li><a href="http://github.com/andreasronge/neo4j-perf">Performance Tests of Neo4j.java vs. Neo4j.rb</a></li>

<h2>Configuration</h2>
<li><a href="http://github.com/andreasronge/neo4j/blob/master/config/neo4j/config.yml">Default Configuration File</a></li>
Also, check the <code>Neo4j::Config</code> class where you can override the defaults or provide your own configuration file.

<h2>Found a bug in this guide ?</h2>
Please fork the project <a href="https://github.com/andreasronge/neo4j-guides">neo4j-guides</a>
